import { queryOptions, useMutation, useQueryClient } from '@tanstack/react-query';
import { getMeServerFn, updateMeServerFn } from '@/app/profile/hooks/api/profile.functions.ts';
import type { UpdateCurrentUserDto } from '@[[ project_name ]]/sdk';
import { mutationKeyFactory } from '@/constants/mutation-key-factory';

export const profileQueries = {
  me: () =>
    queryOptions({
      queryKey: ['profile', 'me'],
      queryFn: () => getMeServerFn(),
      staleTime: 5 * 60 * 1000,
    }),
};

export const useUpdateMe = () => {
  const queryClient = useQueryClient();
  return useMutation({
    mutationKey: mutationKeyFactory.users.update(),
    mutationFn: (data: UpdateCurrentUserDto) => updateMeServerFn(data),
    onSuccess: () => {
      void queryClient.invalidateQueries({ queryKey: ['profile'] });
    },
    meta: {
      showToast: true,
      loadingMessage: 'Saving profile...',
      successMessage: 'Profile updated successfully!',
      errorMessages: {
        default: 'Error updating profile!',
      },
    },
  });
};
