const path = require("node:path");

/** @param {import("@rspack/core").Configuration} defaultOptions */
module.exports = function (defaultOptions) {
  const allowlistedPackages = ["@[[ project_name ]]/templates"];

  const patchedExternals = defaultOptions.externals.map((external) => {
    if (typeof external !== "function") return external;
    return (ctx, callback) => {
      if (allowlistedPackages.some((pkg) => ctx.request?.startsWith(pkg))) {
        return callback();
      }
      return external(ctx, callback);
    };
  });

  return {
    resolve: {
      ...defaultOptions.resolve,
      tsConfig: {
        configFile: path.resolve(__dirname, "tsconfig.build.json"),
        references: "auto",
      },
    },
    externals: patchedExternals,
  };
};
