# Verification


## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**id** | **string** |  | [optional] [default to undefined]
**identifier** | **string** |  | [default to undefined]
**value** | **string** |  | [default to undefined]
**expiresAt** | **string** |  | [default to undefined]
**createdAt** | **string** |  | [default to Generated at runtime]
**updatedAt** | **string** |  | [default to Generated at runtime]

## Example

```typescript
import { Verification } from './api';

const instance: Verification = {
    id,
    identifier,
    value,
    expiresAt,
    createdAt,
    updatedAt,
};
```

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)
